# SPDX-License-Identifier: LGPL-2.1-or-later
# SPDX-FileNotice: Part of the FreeCAD project.

################################################################################

name : Validate Index

################################################################################

on:

    pull_request:
        paths : [ 'Data/Index.json' ]

    push:
        paths : [ 'Data/Index.json' ]

    workflow_dispatch:

################################################################################

concurrency:
    cancel-in-progress : true
    group : Validate-Index

################################################################################

jobs:

    Validate:

        runs-on : ubuntu-latest

        steps:

                # https://github.com/marketplace/actions/checkout

            -   name : Checkout Repository
                uses : actions/checkout@v6
                with :

                    submodules : false

                    sparse-checkout: |
                        Data/Index.json

            ####################################################################

                # https://github.com/marketplace/actions/json-schema-validate

            -   name : Validate Format
                uses : dsanders11/json-schema-validate-action@v1.4.0
                with :

                    all-errors : true

                    schema : 'https://raw.githubusercontent.com/FreeCAD/AddonManager/dev/AddonCatalog.schema.json'
                    files : 'Data/Index.json'

